/*missing / broken images
body text: cornflower blue
	non-default font: ???
	tabs!
	decorative icons next to each tab
	laid out side-by-side (horizontally)
	bottom border under all tabs except active
spacing between tabs: ???px / ???pt
active tabs:
	top border is heavier
	no bottom border
	text and icon are cornflower blue
inactive tabs:
	text and icons are light gray
	border thin and light gray
	turn darker when hovered
tabs are centered
only show 3 content sections at a time
show them in a 3 up*/

body {
  font-family: Arial, sans-serif;
  color: cornflowerblue;
}
/* ^ represents start*/

.content section[id^="section-"] {
  display: none;
  padding: 1em;
}
.content section[id^="section-"].content-current {
  display: block;
}
.content section[id^="section-"]::after {
  content: "";
  display: table;
  clear: both;
}
nav {
	height: 6em;
}
nav ul li {
  display: inline-block;
  font-size: 20pt;
  padding-top: ;
  padding-bottom: ;
  width: 15%;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
	margin-left: .15em;
	margin-right: .15em;
	height: 100%;
}
.info {
  text-align: center;
}
span:hover {
  color: darkgrey;
}
span {
  padding-left: 30px;
  height: 100%;
}
.tab1 span {
  background: url('img/store.png') no-repeat;
  padding-left: 30px;
  color: lightgrey;
}
.tab2 span {
  background: url('img/app_store.png') no-repeat;
}
nav ul {
  text-align: center;
  border-bottom: 1px solid lightgrey;
  margin-top: 3.5em;
}

a {
	display: block;
  padding-right: 1.5em;
  padding-left: 1.5em;
  hover: pointer;
  padding-top: .5em;
  padding-bottom: .5em;
  text-decoration: none;
  line-height: 1;
}
img {
  width: 100%;
}
.tab-current {
  border-top: 3px solid cornflowerblue;
  border-left: 1px solid cornflowerblue;
  border-right: 1px solid cornflowerblue;
  border-bottom: 1px solid white;
}
.tab-current span {
	color: cornflowerblue;
}
a:hover {
  color: darkgrey;
}
.mediabox {
  box-sizing: border-box;
  width: 33%;
  padding: 1em;
  margin: auto;
  float: left;
}
